buyer add.json
{
  "name": "buyer add",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add_user",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -400
      ],
      "id": "0c90b42f-0b1c-474c-ba93-c5cf193ebd12",
      "name": "Webhook",
      "webhookId": "3f924032-2f65-406c-a1dc-ecb13253726c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -128,
        -272
      ],
      "id": "f2544afd-6cf2-4a18-a8fc-6bdad14a0e5e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "YuwtOvJOVPsgS7zs",
          "mode": "list",
          "cachedResultName": "Buyer",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/YuwtOvJOVPsgS7zs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.name }}",
            "Email": "={{ $json.body.email }}",
            "Phone_Number": "={{ $json.body.phoneNumber }}",
            "Location_": "={{ $json.body.location }}",
            "Price_Range": "={{ $json.body.priceRange }}",
            "Area": "={{ $json.body.area }}",
            "Property_Type": "={{ $json.body.propertyType }}",
            "Construction_Status": "={{ $json.body.constructionStatus }}",
            "Status": "New"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location_",
              "displayName": "Location_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price_Range",
              "displayName": "Price_Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Property_Type",
              "displayName": "Property_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Construction_Status",
              "displayName": "Construction_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -304,
        -400
      ],
      "id": "d6417178-1f93-48fd-8c7f-bedabe1c4e05",
      "name": "Insert row"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get_buyer",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -80
      ],
      "id": "9e0d92b4-422c-44c9-97a6-fc6b72082c81",
      "name": "Webhook1",
      "webhookId": "eed18d37-25f6-458a-a93f-e26267090166"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YuwtOvJOVPsgS7zs",
          "mode": "list",
          "cachedResultName": "Buyer",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/YuwtOvJOVPsgS7zs"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Status",
              "keyValue": "New"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -336,
        -80
      ],
      "id": "94387126-9c0a-4b76-b4a2-a197e40abca4",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -128,
        -80
      ],
      "id": "bb8f7047-a582-43a9-9eec-cc62aa43bb4c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Client Details Submission",
        "emailType": "text",
        "message": "=Hi {{ $json.Name }},  \nI hope you are doing well.  I am sharing the client details with you. Please find the information below:  \n\nName: {{ $json.Name }}  \nEmail: {{ $json.Email }} \nPhone Number:  {{ $json.Phone_Number }}\nPrice Range:  {{ $json.Price_Range }}\nArea:  {{ $json.Area }}\nLocation:  {{ $json.Location_ }}\n\nKindly review the details and let me know if you need any further information.  \nThank you. ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -112,
        -512
      ],
      "id": "1092f43f-b26e-42d3-9054-ccf3de0cb5ee",
      "name": "Send a message",
      "webhookId": "66b6c8c6-31b1-4ac7-b557-506a58d02ad2",
      "credentials": {
        "gmailOAuth2": {
          "id": "AK7nPvft9ApLj20b",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d51857db-476a-461b-a402-21605d73611b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0889e033444a60e137db604999a7b2505dc484413c1cb55a30a6e0bddde1c970"
  },
  "id": "dqjuEmrqInyli8cH",
  "tags": []
}