price check and other.json
{
  "name": "price check and other",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Check_Price",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c06f3b73-0faf-4206-9fba-7a09ad25a5c2",
      "name": "Webhook",
      "webhookId": "7ed908d8-33f7-4e4d-a073-24bfd7806cf9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}{{ $json.body.area }}{{ $json.body.location }}",
        "options": {
          "systemMessage": "=You are a Real Estate Data Assistant.\nYour job is to always check the provided property sheet before answering any question.\n\n🔹 Core Instructions:\n\nIf user provides Expected Price\n\nExtract: Price\n\nCheck the sheet\n\nReturn:\n\nLocation (City, Area, Society)\n\nProperty Area (e.g., 5 Marla, 10 Marla, 1 Kanal etc.)\n\nAny other relevant details available in sheet\n\nIf user provides Location (City, Area, Society) OR Property Area\n\nExtract: Location and/or Area\n\nCheck the sheet\n\nReturn:\n\nExpected Price\n\nMatching property details\n\nIf user provides both Price and Location/Area\n\nVerify from sheet\n\nConfirm whether it matches\n\nIf not matching, suggest closest available option from sheet\n\nIf user asks any other related question\n\nAlways check sheet first\n\nThen respond based only on sheet data\n\nDo NOT guess\n\nDo NOT create fake data\n\nIf user requests property based on:\n\nLocation (City, Area, Society)\n\nProperty Area\n\nExpected Price range\n→ Always filter sheet and return best matching options\n\nIf no data found in sheet:\n\nPolitely inform user:\n\"Sheet me is criteria ka koi record available nahi hai.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "4f019074-8400-4af3-888a-65748358c65d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.prompt }}{{ $json.body.area }}{{ $json.body.location }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        272
      ],
      "id": "e588895f-c5af-4fc7-886a-01cf1dcf5a8d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "1edbf25d-dc45-4bb9-a4db-6d1687197adf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        32,
        272
      ],
      "id": "1a1941d4-2626-4bd8-a7f4-f0f46340a5ec",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "5AvyIiSASzkVib1D",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "iGDAh32GOb1cG4ZO",
          "mode": "list",
          "cachedResultName": "Property",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/iGDAh32GOb1cG4ZO"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "orderBy": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_By', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        560,
        272
      ],
      "id": "9ec3528a-55d5-4d82-a442-d5d52cc9c8c2",
      "name": "Get"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "7H5ppMlm9jNFxy26",
          "mode": "list",
          "cachedResultName": "Seller",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/7H5ppMlm9jNFxy26"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "orderBy": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_By', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        416,
        272
      ],
      "id": "56c33575-c5f8-4b2b-bee3-49c445135aba",
      "name": "seller"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "iGDAh32GOb1cG4ZO",
          "mode": "list",
          "cachedResultName": "Property",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/iGDAh32GOb1cG4ZO"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "orderBy": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_By', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        704,
        272
      ],
      "id": "f0e66dda-d7a0-4ae2-8291-1379c5228107",
      "name": "buyer"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "seller": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buyer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c46d4de4-0674-4adc-a19a-34cc8e9e664c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0889e033444a60e137db604999a7b2505dc484413c1cb55a30a6e0bddde1c970"
  },
  "id": "IXSvZytIvb0OGCbx",
  "tags": []
}