updata listiong.json
{
  "name": "updata listiong",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "card_edit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "bb9da837-c1da-488a-b05b-e71bd899c62e",
      "name": "Webhook",
      "webhookId": "bc4d1174-6c63-4d90-b24a-4ed7a3771c78"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}",
        "options": {
          "systemMessage": "You are a helpful assistant\n\nIf email exists → update record all base on colume .\nIf email does not exist → not insert  record."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "70fa07e7-4016-4a86-adcb-5933e356c882",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "8383564f-511c-4634-9066-72c64209ddbf",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "i5uPmdxrZcnyGvlo",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YuwtOvJOVPsgS7zs",
          "mode": "list",
          "cachedResultName": "Buyer",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/YuwtOvJOVPsgS7zs"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Email",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "orderBy": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_By', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        672,
        272
      ],
      "id": "8629e57b-580b-479e-8578-d68a4de1c157",
      "name": "Get buyer"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "7H5ppMlm9jNFxy26",
          "mode": "list",
          "cachedResultName": "Seller",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/7H5ppMlm9jNFxy26"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Email",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "orderBy": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_By', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        816,
        256
      ],
      "id": "6f48f41e-2060-4587-a246-0f8c95082585",
      "name": "Get seller"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        0
      ],
      "id": "94a68e4e-e35e-4cac-84aa-37fb279c7341",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YuwtOvJOVPsgS7zs",
          "mode": "list",
          "cachedResultName": "Buyer",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/YuwtOvJOVPsgS7zs"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Email",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Phone_Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Location_": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location_', ``, 'string') }}",
            "Price_Range": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Price_Range', ``, 'string') }}",
            "Area": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Area', ``, 'string') }}",
            "Property_Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Property_Type', ``, 'string') }}",
            "Construction_Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Construction_Status', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location_",
              "displayName": "Location_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price_Range",
              "displayName": "Price_Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Property_Type",
              "displayName": "Property_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Construction_Status",
              "displayName": "Construction_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        288,
        272
      ],
      "id": "833b12b2-af1a-411b-9e4a-0096cdea34c9",
      "name": "Update  buyer"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "7H5ppMlm9jNFxy26",
          "mode": "list",
          "cachedResultName": "Seller",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/7H5ppMlm9jNFxy26"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Email",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Phone_Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone_Number', ``, 'string') }}",
            "Location_": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Location_', ``, 'string') }}",
            "Price_Range": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Price_Range', ``, 'string') }}",
            "Area": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Area', ``, 'string') }}",
            "Property_Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Property_Type', ``, 'string') }}",
            "Construction_Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Construction_Status', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location_",
              "displayName": "Location_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Price_Range",
              "displayName": "Price_Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Property_Type",
              "displayName": "Property_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Construction_Status",
              "displayName": "Construction_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        480,
        256
      ],
      "id": "e979310c-fb22-4314-80fa-efe895297d81",
      "name": "Update  seller"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get buyer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get seller": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update  buyer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update  seller": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7367b711-4d5c-441f-afd2-93cd7dc08d81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0889e033444a60e137db604999a7b2505dc484413c1cb55a30a6e0bddde1c970"
  },
  "id": "GbPFx2Zvyc0EedJW",
  "tags": []
}