updata status.json
{
  "name": "updata status",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f59455f1-1243-4644-b783-558d2b60b55b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.timestamp }} No chack this data and time check all data table by status",
        "options": {
          "systemMessage": "You are an automated transaction verification and status update assistant.\n\n🔍 Step 1: Check Records\n\n      Check the database.\n\n      Find records where status = \"new\".\n\n      Identify whether the buyer or seller has the status \"new\".\n\n      Fetch all related details from the record (item name, price, date, buyer name, seller name, emails, transaction ID, etc.).\n\n📧 Step 2: Send Verification Email\n\n              If Buyer status = new\n              → Send email to Buyer.\n              → Include full transaction details\n              → Ask:\n              \"Have you completed the purchase? Please reply only Yes or No.\"\n\nIf Seller Status = new\n→ Send email to Seller.\n→ Include full transaction details.\n→ Ask:\n\"Have you completed the sale? Please reply only Yes or No.\"\n\n\n\nIf approved = true\n→ Update Status to \"Sold\" in database  base Email.\n\nIf approved = false\n→ Do NOT change Status.\n\n(No confirmation email will be sent after update.)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "d5e9e6b8-488f-4702-a14a-d5de499c5934",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "5e0d7550-b614-4dc5-b547-827e2445cfbb",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "i5uPmdxrZcnyGvlo",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "7H5ppMlm9jNFxy26",
          "mode": "list",
          "cachedResultName": "Seller",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/7H5ppMlm9jNFxy26"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "orderBy": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_By', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        800,
        160
      ],
      "id": "a970b095-c018-4b07-803e-91e837a00c8b",
      "name": "Get seller"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YuwtOvJOVPsgS7zs",
          "mode": "list",
          "cachedResultName": "Buyer",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/YuwtOvJOVPsgS7zs"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "orderBy": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_By', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        864,
        16
      ],
      "id": "4b91a0f4-eba1-4b6f-a1fc-40827df4b31c",
      "name": "Get buyer"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "7H5ppMlm9jNFxy26",
          "mode": "list",
          "cachedResultName": "Seller",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/7H5ppMlm9jNFxy26"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Email",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location_",
              "displayName": "Location_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Price_Range",
              "displayName": "Price_Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Property_Type",
              "displayName": "Property_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Construction_Status",
              "displayName": "Construction_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        512,
        320
      ],
      "id": "4b5b8acc-b367-46b5-8390-7146822e37ea",
      "name": "update seller"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YuwtOvJOVPsgS7zs",
          "mode": "list",
          "cachedResultName": "Buyer",
          "cachedResultUrl": "/projects/mqU4LqYq9W7gBDaE/datatables/YuwtOvJOVPsgS7zs"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Email",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Phone_Number",
              "displayName": "Phone_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Location_",
              "displayName": "Location_",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Price_Range",
              "displayName": "Price_Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Property_Type",
              "displayName": "Property_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Construction_Status",
              "displayName": "Construction_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        672,
        272
      ],
      "id": "a9eb6923-dd3d-48b1-8bb4-1ac68cc17cda",
      "name": "update buyer"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Yes",
            "disapproveLabel": "No"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        336,
        304
      ],
      "id": "3c073fd9-b315-479c-8f72-4542bde743b8",
      "name": "Send",
      "webhookId": "e0af05e2-905d-4cac-afc6-ab11adc9737a",
      "credentials": {
        "gmailOAuth2": {
          "id": "AK7nPvft9ApLj20b",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get seller": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get buyer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update seller": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update buyer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b9b8fa86-a212-422f-a997-697f3e47595d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0889e033444a60e137db604999a7b2505dc484413c1cb55a30a6e0bddde1c970"
  },
  "id": "iHUZ44c8mQiBroXu",
  "tags": []
}